body {
    background-color: #1a1a1a; /* Dark background */
    color: white;
    font-family: Arial, sans-serif;
    background-image: url('Elements/background-2.jpg');
}

.title2 {
    font-family: 'Chiller', cursive;
    font-size: 7em;
    color: #CC0000;
    text-align: center; /* Center-align text */
    margin: 0 auto; /* Center the title in the container */
    margin-top: 6%;
}

.ghost-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 20px;
    margin: 50px auto;
    margin-top: -2px;
    max-width: 800px; /* Adjust max width as needed */
}

.ghost-item {
    background-color: #000000;
    color: #f7f7f7;
    font-family: 'Chiller', cursive;
    font-size: 2em;
    padding: 15px 30px;
    border: 2px solid #f7f7f7;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.ghost-item:hover {
    background-color: #FF0000;
    transform: scale(1.1);
}


.ghost-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.9); /* Dark background with transparency */
}

.modal-content {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    position: relative;
    background-color: #222; /* Darker background for modal content */
    border-radius: 15px;
    margin: 4% auto; /* Centered */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 600px;
}

.arrow {
    width: 40px; /* Adjust size as needed */
    cursor: pointer;
}

.arrow {
    
    margin: 0 10px; /* Space between arrows and ghost image */
    z-index: 100; /* Bring arrows above other elements */
}



.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px; /* Adjust size as needed */
    cursor: pointer;
}


#ghost-image {
    display: block;
    margin: 20px auto; /* Center the image */
    max-width: 100%; /* Make sure the image is responsive */
    border-radius: 10px; /* Rounded corners for the image */
}
